<div class="author">
  <% if (typeof readerName !== 'undefined') { %>
    <h1 class="author__heading">Hi <%= readerName %>.</h1>
  <% } else { %>
    <h1 class="author__heading">You are not logged in.</h1>
    <a href="/login"><button>Log In</button></a>
  <% } %>
</div>

<% if (typeof readerName !== 'undefined') { %>
  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
      <% data.forEach(post => { %>
        <li>
          <a href="/post/<%= post._id %>" onclick="sendEvent('<%= readerId %>', '<%= post._id %>', 1)">
            <span><%= post.title %></span>
            <span class="article-list__date"><%= post.created_at.toDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  
  
    <% if (nextPage !== null) { %>
      <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
  </section>
<% } %>

<script>
  async function sendEvent(readerId, postId, event_code) {
    var myHeaders = new Headers();
    myHeaders.append("accept", "application/json");
    myHeaders.append("Content-Type", "application/json");

    var raw = JSON.stringify({
      "event_type": event_code,
      "post_id": postId,
      "timestamp": Math.round(Date.now()/1000),
      "user_id": readerId
    });

    var requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: raw,
      redirect: 'follow'
    };

    fetch("http://localhost:8000/user-event", requestOptions)
      .then(response => response.text())
      .then(result => console.log(result))
      .catch(error => console.log('error', error));
  }
</script>